<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:sports.properties"/>
	
    <!-- 
    <bean id="myFortuneService"
    	class="com.udemy.spring.demo.HappyFortuneService">
    </bean>
	-->
	
	<bean id="myFortuneService"
    	class="com.udemy.spring.demo.RandomFortuneService">
    </bean>
	
	<bean id="myCoach"
		class ="com.udemy.spring.demo.TrackCoach">
		<constructor-arg ref="myFortuneService"/>
	</bean>
	
	<!--<bean id="myCricketCoach"
		class="com.udemy.spring.demo.CricketCoach">
		<property name="fortuneService" ref="myFortuneService"/>
		&lt;!&ndash;
		<property name="Team" value="IndianTeam"/>
		<property name="EmailAddress" value="support@bcci.org"/>
		 &ndash;&gt;
		<property name="Team" value="${foo.team}"/>
		<property name="EmailAddress" value="${foo.emailAddress}"/>
	</bean>-->
    
</beans>